@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item .activeIcon{
  @apply hidden;
  
}


.item.active .inactiveIcon{
  @apply hidden;
  
}

.item.active .activeIcon {
  @apply block;
}

.item:not(.active) .content {
  @apply h-0 overflow-hidden py-0;
}

.item .content {
  @apply p-8 h-[300px]
}

.underline-effect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #0000ff;
  transition: width .3s;
}

.underline-effect:hover::after {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }